customproject-cxf/src/main/webapp/schemas/ResponseError.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.metaenlace.com/custom-project-java/cxf/ResponseError"
	xmlns="http://www.metaenlace.com/custom-project-java/cxf/ResponseError"
	elementFormDefault="qualified">

	<xs:element name="ResponseError">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="message" type="xs:string" minOccurs="0" />
				<xs:element name="stackTrace" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>